<h1>Posts</h1>


 <h2><%=@post.title%></h2>
 <h2><%=@post.content%></h2>
 <%= link_to @post.blogger.name, blogger_path(@post)%>
<%= link_to @post.destination.name, destination_path(@post)%><br>
<%= link_to "Edit Post", edit_post_path(@post)%>
