<h1>Destinations</h1>


Destination name:
<%= @destination.name%><br>
Destination country:
<%= @destination.country%>
<h3>Average age of bloggers:</h3>
<%= @destination.avg_age%><br>

<h3>Most recent blog posts:</h3>
<%= @destination.most_recent%><br>
<h3>Most liked blog posts:</h3>
<%= @destination.most_likes%><br>
